.DS_Store
server/.db/
server/node_modules/
server/release/
server/upload/
npm-debug.log
npm-debug.log.*
thumbs.db
dump.rdb
!.gitkeep


client/dist/electron/*
client/dist/web/*
client/build/*
!client/build/icons
coverage
client/node_modules/